body {
  font-family: 'Overlock', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Google Font */
.secondary-heading {
  font-family: 'Josefin Sans', sans-serif;
}

/* Global CSS */
:root {
  --content-overlay: rgba(0, 0, 0, 0.5);
  --bg-color-transparent: rgba(0, 0, 0, 0.37);
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  --box-shadow: 0 0 10px 2px rgb(172, 171, 171);
  --red-shadow: 2px 2px 5px 2px rgba(204, 125, 125, 0.24);
}