.account-content {
    height: 80%;
}

.signup-content h1,
.account-content h1 {
    color: #c86e5f;
    margin-right: 2rem;
    margin-top: -1rem;
}


.account-content .form-grid label:nth-child(3),
.account-content .form-grid label:nth-child(4),
.account-content .form-grid label:nth-child(5),
.account-content .form-grid label:nth-child(6),
.account-content .form-grid label:nth-child(7),
.account-content .form-grid label:nth-child(8),
.account-content .form-grid label:nth-child(9) {
    margin-left: 2rem;
}


/* FORM LABEL START */

/* First name */
.account-content .form-grid label:nth-child(1) {
    margin-left: 1.7rem;
}



/* Last name */
.account-content .form-grid label:nth-child(2) {
    margin-left: 19.2rem;
}

/* Email */
.account-content .form-grid label:nth-child(3) {
    margin-top: 6.5rem;
}

/* Password current */
.account-content .form-grid label:nth-child(4) {
    margin-top: 15.5rem;
}


/* Password*/
.account-content .form-grid label:nth-child(5) {
    margin-top: 20.5rem;
}

/* Between 6 to 20 char */
.account-content .form-grid label:nth-child(6) {
    margin-top: 25.5rem;
    font-size: 0.8rem
}

/* One numeric digit*/
.account-content .form-grid label:nth-child(7) {
    margin-top: 27rem;
    font-size: 0.8rem
}

/* One uppercase and lowercase*/
.account-content .form-grid label:nth-child(8) {
    margin-top: 28.5rem;
    font-size: 0.8rem
}

/* password confirmation*/
.account-content .form-grid label:nth-child(9) {
    margin-top: 31rem;
}

/* FORM LABEL END */

/* USER INFO FORM */

/* Fist Name input */
.account-content .form-grid input[type=text]:nth-child(10) {
    margin-left: 1.5rem;
    width: 95%
}

/* Last Name input */
.account-content .form-grid input[type=text]:nth-child(11) {
    width: 95%;
    margin-left: 3.3rem;
}



/* Email Password  */
.account-content input[type=text]:nth-child(2) {
    margin-left: 0rem;
    margin-top: 2rem;
    width: 90%;
}

/* Save Changes Button */
.account-content input[type=submit]:nth-child(3) {
    margin-top: 0rem;
}

/* PASSWORD FORM  */

/* Password current */
.account-content input[type=password]:nth-child(1) {
    margin-top: 2rem;
}

/* Password */
.account-content input[type=password]:nth-child(2) {
    margin-top: 1rem;
}

/* Password confirm */
.account-content input[type=password]:nth-child(3) {
    margin-top: 6rem;
}

/* Password Change */
.account-content input[type=submit]:nth-child(4) {
    margin-top: 0rem;
}


/* Media Queries */

@media screen and (max-width:1024px) {
    .account-content {
        width: 80%;
    }

    .account-content .form-grid input[type=text]:nth-child(10) {
        margin-left: 2rem;
        width: 100%;
    }

    .account-content .form-grid input[type=text]:nth-child(11) {
        width: 100%;
        margin-left: 10.3rem;
    }

    .account-content .form-grid label:nth-child(1) {
        margin-left: 2rem;
    }

    .account-content .form-grid label:nth-child(2) {
        margin-left: 26.2rem;
    }

    .account-content .form-grid label:nth-child(4) {
        position: absolute;
        top: 20rem;
        left: 4rem;
    }

    .account-content .form-grid label:nth-child(5) {
        position: absolute;
        top: 21rem;
        left: 4rem;
    }

    .account-content .form-grid label:nth-child(6),
    .account-content .form-grid label:nth-child(7),
    .account-content .form-grid label:nth-child(8),
    .account-content .form-grid label:nth-child(9) {
        position: absolute;
        top: 21rem;
        left: 4rem;

    }


    .account-content input[type=password]:nth-child(1) {
        margin-top: 10rem;
    }
}

@media screen and (max-width:768px) {
    .account-content {
        height: 85%;
    }

    .account-content .form-grid label:nth-child(4) {
        position: absolute;
        top: 13rem;
        left: 0;
    }

    .account-content .form-grid label:nth-child(5) {
        position: absolute;
        top: 14rem;
        left: 0;
    }


    .account-content .form-grid label:nth-child(6),
    .account-content .form-grid label:nth-child(7),
    .account-content .form-grid label:nth-child(8),
    .account-content .form-grid label:nth-child(9) {
        position: absolute;
        top: 14rem;
        left: 0rem;
    }

    .account-content .form-grid input[type=text]:nth-child(11) {
        width: 100%;
        margin-left: 5.3rem;
    }

}


@media (379px <=width <=480px) {

    .account-content h1 {
        font-size: 2rem;
        position: absolute;
        top: 2rem;
        left: 3rem;
    }


    .account-content .form-grid input[type=text]:nth-child(10),
    .account-content .form-grid input[type=text]:nth-child(11),
    .account-content .form-grid input[type=text]:nth-child(2),
    .account-content input[type=text]:nth-child(2),
    .account-content input[type=password]:nth-child(1),
    .account-content input[type=password]:nth-child(2),
    .account-content input[type=password]:nth-child(3) {
        width: 74%;
        height: 10px
    }



    /* First Name */
    .account-content .form-grid label:nth-child(1) {
        position: absolute;
        top: 6rem;

        left: 0.5rem;

    }

    .account-content .form-grid input[type=text]:nth-child(10) {
        position: absolute;
        top: 6rem;
        right: 3rem;
    }

    /* Last Name */
    .account-content .form-grid label:nth-child(2) {
        top: 6rem;
        left: -23.6rem;
    }

    .account-content .form-grid input[type=text]:nth-child(11) {
        position: absolute;
        top: 7.7rem;
        right: 3rem;
    }

    /* Email */
    .account-content .form-grid label:nth-child(3) {
        /* margin-top: -8.5rem; */
        position: absolute;
        top: 5.5rem;
        left: 0.7rem;
    }


    .account-content input[type=text]:nth-child(2) {
        position: absolute;
        top: 11rem;
        left: 2.4rem;
    }

    /* Submit */
    .account-content input[type=submit]:nth-child(3),
    .account-content input[type=submit]:nth-child(4) {
        width: 74%;
        position: absolute;
        left: 2.4rem;
        top: 15.5rem;
    }

    /*  Current Password */
    .account-content .form-grid label:nth-child(4) {
        top: 3rem;
        left: 1rem;
    }

    .account-content input[type=password]:nth-child(1) {
        position: absolute;
        left: 2.7rem;
        top: 10.5rem;

    }

    /* Password */
    .account-content .form-grid label:nth-child(5) {
        position: absolute;
        top: 2.5rem;
        left: 1rem;
    }

    .account-content input[type=password]:nth-child(2) {
        position: absolute;
        top: 23.5rem;
        left: 2.7rem;
    }

    .account-content .form-grid label:nth-child(6),
    .account-content .form-grid label:nth-child(7),
    .account-content .form-grid label:nth-child(8) {
        position: absolute;
        font-size: 0.8rem;
        top: 1.5rem;
        left: 1rem;
    }

    /* Password confirm */
    .account-content .form-grid label:nth-child(9) {
        position: absolute;
        top: 1rem;
        left: 1.3rem;
    }

    .account-content input[type=password]:nth-child(3) {
        position: absolute;
        top: 27.2rem;
        left: 3rem;
    }

    .account-content input[type=submit]:nth-child(4) {
        position: absolute;
        top: 36rem;
        left: 3rem;
    }


}




@media screen and (max-width:375px) {
    @media (height >=812px) {
        .account-content {
            width: 95%;
            height: 84%;
            margin-top: 1rem;
        }

        .account-content h1 {
            color: #c86e5f;
            font-size: 1.2rem;
            margin-right: 1rem;
            margin-top: 0.6rem;
        }

        .form-grid {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .account-content .form-grid input[type=text]:nth-child(10),
        .account-content .form-grid input[type=text]:nth-child(11),
        .account-content input[type=text]:nth-child(2),
        .account-content input[type=text]:nth-child(3),
        .account-content input[type=submit]:nth-child(3),
        .account-content input[type=password]:nth-child(1),
        .account-content input[type=password]:nth-child(2),
        .account-content input[type=password]:nth-child(3),
        .account-content input[type=password]:nth-child(4),
        .account-content input[type=submit]:nth-child(4) {
            width: 60%;
            height: 20px;
        }

        .account-content .form-grid input[type=text]:nth-child(10) {
            margin-left: 0;

        }

        .account-content .form-grid input[type=text]:nth-child(11) {

            margin-left: 0.3rem;
            margin-top: 0;

        }

        .account-content input[type=text]:nth-child(2) {
            margin-left: 0rem;
            margin-top: 0rem;

        }

        .account-content input[type=submit]:nth-child(3),
        .account-content input[type=submit]:nth-child(4) {
            margin-top: 0rem;
            height: 25px;
        }

        .account-content .form-grid label:nth-child(1),
        .account-content .form-grid label:nth-child(3),
        .account-content .form-grid label:nth-child(4),
        .account-content .form-grid label:nth-child(5),
        .account-content .form-grid label:nth-child(6),
        .account-content .form-grid label:nth-child(7),
        .account-content .form-grid label:nth-child(8),
        .account-content .form-grid label:nth-child(9) {
            left: 2.5rem;
        }

        .account-content .form-grid label:nth-child(1) {
            top: 0rem;
        }

        .account-content .form-grid label:nth-child(2) {
            top: 0rem;
            margin-left: -9rem !important;
        }

        .account-content .form-grid label:nth-child(3) {
            margin-top: 5.8rem;

        }

        .account-content .form-grid label:nth-child(4) {
            position: absolute;
            top: -2rem;
        }

        .account-content .form-grid label:nth-child(5) {
            position: absolute;
            top: -3.3rem;
        }

        .account-content .form-grid label:nth-child(6),
        .account-content .form-grid label:nth-child(7),
        .account-content .form-grid label:nth-child(8) {

            position: absolute;
            top: -5rem;
            font-size: 0.6rem;

        }

        .account-content .form-grid label:nth-child(7) {
            top: -5.5rem;
        }



        .account-content .form-grid label:nth-child(8) {
            top: -5.9rem;


        }

        .account-content .form-grid label:nth-child(9) {
            position: absolute;
            top: -6rem;
        }

        .account-content input[type=password]:nth-child(1) {
            position: absolute;
            top: 13rem;
        }

        .account-content input[type=password]:nth-child(2) {
            margin-top: 6rem;

        }

        .account-content input[type=password]:nth-child(3) {

            margin-top: 4.4rem;


        }


    }



}

@media screen and (max-width:375px) {
    @media (height <=668px) {
        .account-content {
            width: 95%;
            height: 85%;
            margin-top: 0rem;
        }

        .account-content h1 {
            color: #c86e5f;
            font-size: 1.2rem;
            margin-right: 1rem;
            margin-top: 0.6rem;
        }

        .form-grid {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .account-content .form-grid input[type=text]:nth-child(10),
        .account-content .form-grid input[type=text]:nth-child(11),
        .account-content input[type=text]:nth-child(2),
        .account-content input[type=text]:nth-child(3),
        .account-content input[type=submit]:nth-child(3),
        .account-content input[type=password]:nth-child(1),
        .account-content input[type=password]:nth-child(2),
        .account-content input[type=password]:nth-child(3),
        .account-content input[type=password]:nth-child(4),
        .account-content input[type=submit]:nth-child(4) {
            width: 60%;
            height: 20px;
        }

        .account-content .form-grid input[type=text]:nth-child(10) {
            margin-left: 0;

        }

        .account-content .form-grid input[type=text]:nth-child(11) {

            margin-left: 0.3rem;
            margin-top: 0;

        }

        .account-content input[type=text]:nth-child(2) {
            margin-left: 0rem;
            margin-top: 0rem;

        }

        .account-content input[type=submit]:nth-child(3),
        .account-content input[type=submit]:nth-child(4) {
            margin-top: 0rem;
            height: 25px;
        }

        .account-content .form-grid label:nth-child(1),
        .account-content .form-grid label:nth-child(3),
        .account-content .form-grid label:nth-child(4),
        .account-content .form-grid label:nth-child(5),
        .account-content .form-grid label:nth-child(6),
        .account-content .form-grid label:nth-child(7),
        .account-content .form-grid label:nth-child(8),
        .account-content .form-grid label:nth-child(9) {
            left: 2.5rem;
        }

        .account-content .form-grid label:nth-child(1) {
            top: 0rem;
        }

        .account-content .form-grid label:nth-child(2) {
            top: 0rem;
            margin-left: -9rem !important;
        }

        .account-content .form-grid label:nth-child(3) {
            margin-top: 5.8rem;

        }

        .account-content .form-grid label:nth-child(4) {
            position: absolute;
            top: -3rem;
        }

        .account-content .form-grid label:nth-child(5) {
            position: absolute;
            top: -3.3rem;
        }

        .account-content .form-grid label:nth-child(6),
        .account-content .form-grid label:nth-child(7),
        .account-content .form-grid label:nth-child(8) {

            position: absolute;
            top: -5.2rem;
            font-size: 0.6rem;

        }

        .account-content .form-grid label:nth-child(7) {
            top: -5.7rem;
        }


        .account-content .form-grid label:nth-child(8) {
            top: -6.2rem;


        }

        .account-content .form-grid label:nth-child(9) {
            position: absolute;
            top: -7.5rem;
        }

        .account-content input[type=password]:nth-child(1) {
            position: absolute;
            top: 9rem;
        }

        .account-content input[type=password]:nth-child(2) {
            margin-top: 6rem;

        }

        .account-content input[type=password]:nth-child(3) {

            margin-top: 2.8rem;


        }


    }



}