.login,
.signup,
.reset,
.redirect,
.confirmed,
.reset-password,
.not-found {
    position: relative;
    padding: 20px;
    /* For Footer height */
    height: 86.6vh;
    object-fit: cover;
    overflow: hidden;
}

.login-content,
.signup-content {
    position: fixed;
    background-color: #ffff;
    width: 30%;
    height: 50%;
    /* center an element */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #c86e5f;
    border-radius: 30px;
    box-shadow: var(--red-shadow);

}

.login .login-content,
.signup .signup-content,
.redirect-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-content h1 {
    color: #c86e5f;
    margin-top: -4rem;
}

.login-forgot {
    color: #c86e5f;
    border-bottom: 1px solid #c86e5f;
    position: absolute;
    display: flex;
    margin-left: 18rem;
    cursor: pointer;

}

.login-content label,
.signup-content label {
    color: grey;
    position: absolute;
    display: flex;
    margin-left: 1.5rem;
}


.login-content input[type=text],
.signup-content input[type=text],
.login-content input[type=password],
.signup-content input[type=password] {
    width: 90%;
    padding: 12px;
    margin: 30px 0;
    border: 1px solid #c86e5f;
    color: #c86e5f;
    border-radius: 10px;
    box-sizing: border-box;
    outline: none;
}

input[type=submit] {
    background-color: #c86e5f;
    color: #fff;
    border-radius: 15px;
    border: none;
    width: 90%;
    height: 2rem;
    cursor: pointer;
    outline: none;
}

input[type=submit]:hover {
    box-shadow: 0 12px 16px 0 rgba(204, 125, 125, 0.24),
        0 17px 50px 0 rgba(204, 125, 125, 0.24);
}

input[type=submit]:active {
    display: inline-block;
    background-color: #a0594c;
    box-shadow: 0 5px rgba(204, 125, 125, 0.24);
    transform: translateY(4px);
    transition: 0.1s;
}


input::placeholder {
    color: grey;
}

.login-content p,
.signup-content p {
    margin-top: 1rem;
    color: grey
}

.login-content p>a,
.signup-content p>a {
    padding: 0.2rem;
    color: #c86e5f;
}

/* Media Queries */
@media screen and (min-width:1200px) {

    .login-content,
    .signup-content {
        width: 40%;
    }

    .login-forgot {
        margin-left: 16rem;
    }
}


@media screen and (max-width:1200px) {

    .login-content,
    .signup-content {
        width: 75%;
    }

    .login-forgot {
        margin-left: 18rem;
    }
}


@media screen and (max-width:768px) {

    .login-forgot {
        margin-left: 18rem;
    }
}

@media screen and (max-width:480px) {

    .login-content label {
        margin-top: 0.2rem
    }

    .login-forgot {
        margin-top: 0rem;
        margin-left: 8rem;
    }



}

@media screen and (max-width:375px) {

    .login-content {
        height: 60%;
    }


}



@media screen and (max-width:320px) {

    .login-content h1 {
        margin-top: -3rem;
    }

    .login-content {
        height: 70%;
        font-size: 0.8rem;
    }

    .login-forgot {
        margin-top: -0.1rem;
        margin-left: 6.5rem;
    }

}