.reset-password-content,
.not-found-content {
    /* center an item */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.not-found-content {
    flex-direction: column;
}

.not-found-content img {

    width: 700px;
}

.not-found-content h1 {

    color: #5D5C62
}

.not-found-content p {
    font-size: 1.25rem;
    margin-top: 1.2rem;
    color: #94A3B1
}

.not-found-content p>a {
    margin-left: 1rem;
    text-decoration: underline;
    color: #c86e5f;
}

.not-found-content button {
    margin-top: 2rem;
    border-radius: 15px;
    background-color: #c86e5f;
    width: 150px;
    height: 30px;
    outline: none;
    border: none;
    cursor: pointer;

}

.not-found-content button:hover {

    background-color: #97574c;
}

.not-found-content button:active {

    display: inline-block;
    background-color: #a0594c;
    box-shadow: 0 5px rgba(204, 125, 125, 0.24);
    transform: translateY(4px);
    transition: 0.1s;
}


.not-found-content button a {
    color: #fff;


}